body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}
section h1 {
    text-align: center;
    margin-bottom: 20px; /* Espaciado inferior para separación */
}

#projects {
    margin-bottom: 20px;
}

#projects h1 {
    text-align: center;
    margin-bottom: 20px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
    gap: 20px; /* Espaciado entre filas y columnas */
}

.project {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.project img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin-right: 15px;
}

.project-info {
    flex: 1;
}



form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
}
